@model IEnumerable<AuraTest.Models.Product>

@{
    ViewData["Title"] = "Index";
}
@{



}
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div>
        <label>Category:</label>
        <select name="categoryFilter">
            <option value="">All</option>
            @{
                var categories = Model.Select(p => p.Category.CategoryName).Distinct();
                foreach (var category in categories)
                {
                    <option value="@category">@category</option>
                }
            }
        </select>

        <label>Color:</label>
        <select name="colorFilter">
            <option value="">All</option>
            @{
                var colors = Model.Select(p => p.ProductColor).Distinct();
                foreach (var color in colors)
                {
                    <option value="@color">@color</option>
                }
            }
        </select>

        <label>Size:</label>
        <select name="sizeFilter">
            <option value="">All</option>
            @{
                var sizes = Model.Select(p => p.ProductSize).Distinct();
                foreach (var size in sizes)
                {
                    <option value="@size">@size</option>
                }
            }
        </select>
        <label>Amount:</label>
        <select name="amountFilter">
            <option value="">All</option>
            @{
                var amounts = Model.Select(p => p.ProductAmount).Distinct();
                foreach (var amount in amounts)
                {
                    <option value="@amount">@amount</option>
                }
            }
        </select>

        <input type="submit" value="Filter" />
    </div>
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductColor)
                </td>
                <td>
                    <img style="width:20%; height:auto" src="~/img/@item.ProductImageUrl" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductAmount)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>