@using Microsoft.AspNetCore.Identity
@model IEnumerable<AuraTest.Models.Product>
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Our Shop</h1>
<div id="cartPopup" class="cart-popup">
    <div class="cart-content">
        <partial name="_CartPartial" />
    </div>
    <button id="closePopup">Close</button>
</div>

<section class="product">
    <h2 class="product-category">الافضل مبيعاً</h2>
    <button class="pre-btn">></button>
    <button class="nxt-btn">></button>
    <div class="product-container">
      
        @foreach (var item in ViewBag.FirstModel as List<AuraTest.Models.Product>)
        {

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="~/img/@item.ProductImageUrl" class="product-thumb" />
                    @if (SignInManager.IsSignedIn(User))
                    {   
                        if (item.ProductAmount>0)
                        {
                            <form id="addToCartForm" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId" method="post">
                                <button type="submit" class="card-btn Stack-Full">Add to Cart</button>
                            </form>
                            
                        }
                        else
                        {
                            <button class="card-btn Stack-Empty">Stack Empty</button>
                        }
                    }
                    else
                    {
                        if (item.ProductAmount>0)
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button type="submit" class="card-btn">Add to Cart</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button class="card-btn Stack-Empty">Stack Empty</button>
                            </form>
                        }
                    }
                </div>
                @{
                    decimal multipliedPrice = Convert.ToDecimal(item.ProductPrice) * 2;
                }
                <div class="product-info">
                    <h2 class="product-brand">@Html.DisplayFor(modelItem => item.ProductName)</h2>
                    <p class="product-short-description">@Html.DisplayFor(modelItem => item.ProductDescription)</p>                    <span class="price">@Html.DisplayFor(modelItem => item.ProductPrice)</span>
                    <span class="actual-price">@Html.DisplayFor(modelItem => multipliedPrice)</span>
                </div>
            </div>
            //to break the loop
            //how many product you want to show
          
        }
    </div>
</section>
    

<section class="product">
    <h2 class="product-category">الكنزات</h2>
    <button class="pre-btn">></button>
    <button class="nxt-btn">></button>
    <div class="product-container">

        @foreach (var item in ViewBag.SecoundModel as List<AuraTest.Models.Product>)
        {

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="~/img/@item.ProductImageUrl" class="product-thumb" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (item.ProductAmount > 0)
                        {
                            <form id="addToCartForm" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId" method="post">
                                <button type="submit" class="card-btn Stack-Full">Add to Cart</button>
                            </form>

                        }
                        else
                        {
                            <button class="card-btn Stack-Empty">Stack Empty</button>
                        }
                    }
                    else
                    {
                        if (item.ProductAmount > 0)
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button type="submit" class="card-btn">Add to Cart</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button class="card-btn Stack-Empty">Stack Empty</button>
                            </form>
                        }
                    }
                </div>
                @{
                    decimal multipliedPrice = Convert.ToDecimal(item.ProductPrice) * 2;
                }
                <div class="product-info">
                    <h2 class="product-brand">@Html.DisplayFor(modelItem => item.ProductName)</h2>
                    <p class="product-short-description">@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                    <span class="price">@Html.DisplayFor(modelItem => item.ProductPrice)</span>
                    <span class="actual-price">@Html.DisplayFor(modelItem => multipliedPrice)</span>
                </div>
            </div>
            //to break the loop
            //how many product you want to show
           
        }
    </div>
</section>

<section class="product">
    <h2 class="product-category">الكنزات</h2>
    <button class="pre-btn">></button>
    <button class="nxt-btn">></button>
    <div class="product-container">


        @foreach (var item in ViewBag.ThirdModel as List<AuraTest.Models.Product>)
        {

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="~/img/@item.ProductImageUrl" class="product-thumb" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (item.ProductAmount > 0)
                        {
                            <form id="addToCartForm" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId" method="post">
                                <button type="submit" class="card-btn Stack-Full">Add to Cart</button>
                            </form>

                        }
                        else
                        {
                            <button class="card-btn Stack-Empty">Stack Empty</button>
                        }
                    }
                    else
                    {
                        if (item.ProductAmount > 0)
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button type="submit" class="card-btn">Add to Cart</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button class="card-btn Stack-Empty">Stack Empty</button>
                            </form>
                        }
                    }
                </div>
                @{
                    decimal multipliedPrice = Convert.ToDecimal(item.ProductPrice) * 2;
                }
                <div class="product-info">
                    <h2 class="product-brand">@Html.DisplayFor(modelItem => item.ProductName)</h2>
                    <p class="product-short-description">@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                    <span class="price">@Html.DisplayFor(modelItem => item.ProductPrice)</span>
                    <span class="actual-price">@Html.DisplayFor(modelItem => multipliedPrice)</span>
                </div>
            </div>
            //to break the loop
            //how many product you want to show

        }
    </div>
</section>

<section class="product">
    <h2 class="product-category">الكنزات</h2>
    <button class="pre-btn">></button>
    <button class="nxt-btn">></button>
    <div class="product-container">


        @foreach (var item in ViewBag.ForthModel as List<AuraTest.Models.Product>)
        {

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="~/img/@item.ProductImageUrl" class="product-thumb" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (item.ProductAmount > 0)
                        {
                            <form id="addToCartForm" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId" method="post">
                                <button type="submit" class="card-btn Stack-Full">Add to Cart</button>
                            </form>

                        }
                        else
                        {
                            <button class="card-btn Stack-Empty">Stack Empty</button>
                        }
                    }
                    else
                    {
                        if (item.ProductAmount > 0)
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button type="submit" class="card-btn">Add to Cart</button>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Cart" asp-action="IsSignin" method="post">
                                <button class="card-btn Stack-Empty">Stack Empty</button>
                            </form>
                        }
                    }
                </div>
                @{
                    decimal multipliedPrice = Convert.ToDecimal(item.ProductPrice) * 2;
                }
                <div class="product-info">
                    <h2 class="product-brand">@Html.DisplayFor(modelItem => item.ProductName)</h2>
                    <p class="product-short-description">@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                    <span class="price">@Html.DisplayFor(modelItem => item.ProductPrice)</span>
                    <span class="actual-price">@Html.DisplayFor(modelItem => multipliedPrice)</span>
                </div>
            </div>
            //to break the loop
            //how many product you want to show

        }
    </div>
</section>